@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: auto;
  margin: 0;
  background-color: #606060;
}

a {
  color: #dadada;
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.item {
  width: 150px;
  height: 100px;
  margin: 10px 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}